html, body { color: #434242; font-family: 'Droid Sans', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h3, .h1, .h2, .h3, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px;position: center; }
h1 { font-weight: 100; margin-bottom: 10px;}
h2,h3 { font-weight: 300; color: #000; }
h2 { text-align: center; padding-bottom: 10px;font-family: 'Merriweather'}
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; padding-top: 25px;}
p.lead a:hover { text-decoration: none; }

ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

#map {
  height:100%;
  width:100%;
}
 
.clouds {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
}

[class^="cloud-"] {
  position: absolute;
  right: 120%;
  width: 200px;
  height: 60px;
  background: #FFF;
  -webkit-border-radius: 200px;
          border-radius: 200px;
}

[class^="cloud-"]:before,
[class^="cloud-"]:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 10px; 
  width: 100px;
  height: 80px;
  background: #FFF;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
          transform: rotate(30deg);
}

[class^="cloud-"]:after {
  top: -55px;
  left: auto;
  right: 15px;
  width: 120px;
  height: 120px;
}

.cloud-1 {
  top: 50px;
  -webkit-animation: moveclouds 30s linear infinite;
     -moz-animation: moveclouds 30s linear infinite;
       -o-animation: moveclouds 30s linear infinite;
          animation: moveclouds 30s linear infinite;
}

.cloud-2 {
  top: 200px;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: moveclouds 45s linear infinite;
     -moz-animation: moveclouds 45s linear infinite;
       -o-animation: moveclouds 45s linear infinite;
          animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 5s;
     -moz-animation-delay: 5s;
          animation-delay: 5s;
}

.cloud-3 {
  top: 150px;
  opacity: 0.6;
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation: moveclouds 40s linear infinite;
     -moz-animation: moveclouds 40s linear infinite;
       -o-animation: moveclouds 40s linear infinite;
          animation: moveclouds 40s linear infinite;
}

.cloud-4 {
  top: 300px;
  opacity: 0.75;
  -webkit-transform: scale(0.75);
     -moz-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-animation: moveclouds 26s linear infinite;
     -moz-animation: moveclouds 26s linear infinite;
       -o-animation: moveclouds 26s linear infinite;
          animation: moveclouds 26s linear infinite;
  -webkit-animation-delay: 8s;
     -moz-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes moveclouds {
  0%   { right: -20%; }
  100% { right: 120%; }
}
@-moz-keyframes moveclouds {
  0%   { right: -20%; }
  100% { right: 120%; }
}
@-o-keyframes moveclouds {
  0%   { right: -20%; }
  100% { right: 120%; }
}


.IRL-Logo {
  margin-top: 2px;
  float: left;
}

.title-description {
  color: #FFF;
}

.mountain {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 620px solid #650506;
  border-left: 360px solid transparent;
  border-right: 360px solid transparent;
}
.mountain::before {
  display: block;
  content: '';
  border-bottom: 620px solid #800000;
  border-left: 0px solid transparent;
  border-right: 360px solid transparent;
  border-top: 0px solid transparent;
}
.mountain::after {
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  background-color: #E5E5E7;
  background-image: linear-gradient(225deg, rgba(255, 255, 255, .9) 50%, transparent 50%, transparent);
  background-size: 100px 100px;
  margin-top: -621px;
  margin-left: -2px;
  transform: rotate(29deg) scaleY(1.2) skewY(26deg);
  transform-origin: top left;
}
.k2 {
  
}
.everest {
  top: 140px;
  left: 14.5%;
}
.blanc {
  top: 170px;
  left: 30%;
}
.bottom {
  display: block;
  background: #FFF;
  width:100%;
  height: 100px;
  position: absolute;
  top: 650px;
}








/*-------------------*/
/***** JUMBOTRON *****/
/*-------------------*/
.jumbotron {
  background: no-repeat center right fixed;

  -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Space.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Space.jpg', sizingMethod='scale');
  
  margin-bottom: 0px;
  padding: 0px;
  height:100%;
}  

.jumbotron .overlay { background-color: #000000; position: absolute; top: 0%; bottom: 0%; left: 0px; right: 0px; opacity: 0.2; filter:alpha(opacity=75); z-index: 2; }
.jumbotron .container { position: relative; top: 20%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center;}
.jumbotron .container h1 { padding-bottom: 20px; display: inline-block; }
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 45%; background-color: transparent; text-align: center; z-index: 6;}





/*--------------------*/
/***** PRE LOADER *****/
/*--------------------*/

.containloader {
  background: #fff;
  text-align: center;
  line-height: 100vh;
}

.zgroup {
  position: relative;
  display: inline-block;
  line-height: 16px;
}

.bigSqr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: bigSqrShrink 1s linear infinite;
          animation: bigSqrShrink 1s linear infinite;
}

.square {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #cc1f35;
}

.first {
  left: 0px;
  top: 20px;
}

.second {
  left: 20px;
  top: 20px;
  -webkit-animation: drop2 1s linear infinite;
          animation: drop2 1s linear infinite;
}

.third {
  left: 0px;
  top: 0px;
  -webkit-animation: drop3 1s linear infinite;
          animation: drop3 1s linear infinite;
}

.fourth {
  left: 20px;
  top: 0px;
  -webkit-animation: drop4 1s linear infinite;
          animation: drop4 1s linear infinite;
}

@-webkit-keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


/*Navbar functionality */

.navbar  { background-color: #87CEFA; position: fixed; height: 65px; top: 0px; width:100%; z-index: 999; padding-left: 10px;}
.navbar .navbar-nav { float: right; padding-right: 40px; padding-top: 10px;}
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; } 
.navbar .nav > li a { display: block;  height: 40px; text-align: center; padding-top: 30px; font-weight: 500; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #FFFFFF; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF;}

.background-white { background: #FFFFFF; }
.background-gray { background: #434242; }

/*---------------*/
/***** PROFILE *****/
/*---------------*/
#description {
  padding-top: 30px; 
  text-align: center;
  font-family: 'Droid Sans';
}

#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 446px; height: 200%; }
#profile .row .col-md-4 #Stanford { width: 50%; max-width: 146px; height: 50%; text-align: center}

#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; cursor:pointer;}
#abilities ul > li .ability-title { display: inline-block; width: 60%; padding-top: 4px;}
#abilities ul > li .collapse {padding-top: 4px;}
#abilities ul > li .ability-score {  position: absolute; left: 25%; }
#abilities ul > li .ability-score i { color: #22A39F; }
#abilities ul > li:hover .ability-score i { margin-left: 2px; } 

#projects .row > div { margin-bottom: 30px; }
#projects figure { position: relative; overflow: hidden; }
#projects figure h3 { color: #FFF; font-weight: 600; margin-bottom: 5px; }
#projects figure p > strong { width: 60px; display: inline-block; margin: 0px; }
#projects figure img { width: 135%;  position: relative;}
#projects figure figcaption {
    padding: 10px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
  z-index: 100;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects {
  padding-top: 20px;
}

#contact { padding-bottom: 200px; }
#contact h2, #contact .row * { color: #FFFFFF; }
#contact a { display: block; line-height: 32px; margin-bottom: 20px; opacity: 0.6; filter:alpha(opacity=60);  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }


@media (max-width: 767px) { 
  .jumbotron:before {
      background: no-repeat center right relative url(../images/Space.jpg);

  -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bay-area.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bay-area.jpg', sizingMethod='scale');
  
  margin-bottom: 0px;
  padding: 0px;
  height:100%;   
  }
  .jumbotron .container { top: 28%; padding-top: 0px; }
  .jumbotron .scroll-down { width: 100%; right: 0px; }
  
  .navbar  { top: 0px; width: 100%; height: 110px;}
  .navbar .nav > li { height: 60px; }
  .navbar .nav > li a { height: 20px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;}
  
  .fixed .navbar { top: 0px; }

  #menu1 {
  display: none;
  }
  
  .container { padding: 60px 13px; min-width: 280px; }
  
  #profile .row * { text-align: center; }
  
  #contact { padding-bottom: 60px; }
  #contact a .icon { float: left; margin-right: 10px; }

  #abilities ul > li .ability-title { display: inline-block; width: 60%; padding-top: 4px;padding-right: 50px;}
  #abilities ul > li .ability-score {  position: absolute; left: 50%; }

  .icon-cards__item {
  font-size: 19px;
}
}   

@media (min-width:1650px) {
  #ability-frame {
    margin-left: -150px;
  }
}

@media (max-width:1056px) {
  #abilities ul > li .collapse {height:0px;}
  #abilities ul > li:hover { background: #F2F2F2; cursor:default;}
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
  background: #22A39F;
  color: #FFF;
}

figure.effect img {
  width: auto;
  height:280px;
  position:absolute;
  right:16%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img {
  opacity: 0.2;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect figcaption {
  text-align: left;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}